// Global styling for this template

body {
    padding-top: $navbar-base-height;
    color: $gray-800;
}
@include media-breakpoint-up(lg) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 1.15rem;
}

h6 {
    color: $black;
    // text-transform: uppercase;
}

h1 {
    font-size: 2.0rem;
    line-height: 1;
}

h3 {
    font-size: 2.0rem;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

.subheading {
    font-family: $headings-font-family;
    // text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3rem;
}

